
.header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
    align-items: center;
    overflow-x: hidden; 
}

.part-1, .part-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    width: 450px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.logo {
    width: 150px;
}
.dono-btn{
    display: flex;
    gap: 10px;
    width: auto;
}
.button-1{
    border: none;
    background-color: #fff;
    border-radius: 10px;
    color: blue;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}

.button-2{
    border: none;
    background-color:transparent;
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
@media screen and (max-width:992px){
    .dono-btn {
        display: none;
    }
}
@media screen and (max-width:600px) {
    
    .search input {
        width: 200px;
    }

    .header {
        justify-content: space-between;
       
    }
    .logo {
       display: none;
    }
   
}


/* navbar ended  */

.imges{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

.image-1 img{
    width: 55px; 
    text-align: center;
    padding-top: 10px;
}
.image-1{
    text-align: center;
    padding: 8px 15px 14px 15px;
}
.image-1:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-2{
    text-align: center;
    padding: 14px 15px 14px 15px;

}
.image-2:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-2 img{
    text-align: center;
    width: 50px;
    padding-top: 10px;

}
.image-3{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-3:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-3 img{
    width: 60px;
}
.image-4{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-4:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-4 img{
    width: 60px;
}
.image-5{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-5:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-5 img{
    width: 60px;
}
.image-6{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-6:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-6 img{
    width: 60px;
}
.image-7{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-7:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-7 img{
    width: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-8{
    text-align: center;
    padding: 14px 5px 14px 5px;
}
.image-8:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-8 img{
    width: 60px;
}

@media (max-width:768px) {
    .image-1{
        display: none;
}
    .image-7{
        display: none;
}
}
@media (max-width:630px) {
    .image-2{
        display: none;
}
}
@media (max-width:450px) {
    .image-4{
        display: none;
}
}
@media (max-width:330px) {
    .image-5{
        display: none;
}
}


/* card-area  */

.cards{
    background-color: rgb(247, 247, 247);
    padding-bottom: 40px;
}
.card-main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.card-1 p{
    font-weight: bold;
}

.card-2 p{
    color: blue;
}
.green{
    color: green;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    float: right;
}
.card-img{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
#card-border{
    border: transparent;
}

/* 2nd card area  */


.best-sell{
    text-align: center;
    margin-top: 40px;
}
.best-sell-1{
    text-align: center;
    font-size: 18px;
}
#ultra-smart{
    margin-left: 10px;
}

.sec-card-img-1{
    width: 150px;
    margin: 0 auto;
}
.middle-img-sec img{
    width: 1480px;
}

/* shop price by  */


.hasan-1{
    text-align: center;

}

.hasan-1 a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: yellow;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    color: #081B29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding: 10px 55px 10px 55px;
} 
.hasan-1 a:hover{
    color: white;
}

.hasan-1 a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: .5s;
}
.hasan-1 a:hover::before{
    width: 100%;
}

/* Shop by Brand */

.Shop-by-Brand{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.brand-img-1{
    text-align: center;
}
.brand-img-1 img{
    width: 80px;
    padding-bottom: 10px;
}

@media(max-width:980px){
    .Samsung{
        display: none;
    }
}
@media(max-width:870px){
    .Infinix{
        display: none;
    }
}
@media(max-width:775px){
    .Oppo{
        display: none;
    }
}
@media(max-width:680px){
    .Itel{
        display: none;
    }
}
@media(max-width:590px){
    .Apple{
        display: none;
    }
}
@media(max-width:480px){
    .Nokia{
        display: none;
    }
}
@media(max-width:380px){
    .Realme{
        display: none;
    }
}


.best-sell-2{
    text-align: center;
    font-size: 15px;
}

/* customer-review  */

.customer-review{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.customer-review img{
    width: 130px;
    border-radius: 5px;
    height: 90px;
}
@media (max-width:1080px) {
    .review-1{
        display: none;
    }
}
@media (max-width:877px) {
    .review-3{
        display: none;
    }
}
@media (max-width:777px) {
    .review-4{
        display: none;
    }
}
@media (max-width:669px) {
    .review-5{
        display: none;
    }
}
@media (max-width:568px) {
    .review-6{
        display: none;
    }
}
@media (max-width:485px) {
    .review-7{
        display: none;
    }
}
@media (max-width:389px) {
    .review-2{
       display: none;
    }
    
}

/* customer review comment icons card */
#icons-main{
    margin-top: 20px;
}
.icons{
    color: gainsboro;
    font-size: 15px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    padding: 10px;
}
.stars i{
    font-size: small;
   color: orange;
}
.name-of-viewers{
    font-size: 15px;
    color: rgb(56, 136, 215);
}
.date{
    font-size: 15px;
    color: grey;
}
.cus-rev-one{
    display: flex;
    gap: 10px;
}


/* youtube-videos  */

.youtube-videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width:335px) {
    .youtube-videos iframe{
        width: 350px;  
    }
    
}
@media (max-width:315px) {
    .youtube-videos iframe{
        width: 300px;  
    }
    
}
@media (max-width:306px) {
    .youtube-videos iframe{
        width: 250px;  
    }
    
}


/* grid section  */


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
 
  .rectangle{
    width: 550px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .rectangle img{
    width: 340px;
    display: flex;
    margin: 0 auto;
   
  }
  
  .rectangle, .square {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .rectangle {
    grid-row-start: span 2;
    background-color: #fff;
  }
  
  .square{
    width: 360px;
    height: 250px;
    padding: 10px;
    background-color: #fff;
  }
  
 .square img{
    width: 140px;
    float: right;
    padding-top: 15px;
 }

 @media (max-width:1400px){
    .grid{
        display: flex;
        flex-direction: column;
    }
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 1000px;
    }
    .rectangle img{
        width: 200px;
    }
    .square{
        width: 1000px;
        margin: 0 auto;
    }
 }

 @media (max-width:1200px){
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 800px;
    }

    .square{
        width: 800px;
        margin: 0 auto;
    }

 }

 @media (max-width:995px){
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 600px;
    }

    .square{
        width: 600px;
        margin: 0 auto;
    }
 }

 @media (max-width:768px){
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 400px;
    }

    .square{
        width: 400px;
        margin: 0 auto;
    }
 }
 @media (max-width:425px){
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 300px;
    }

    .square{
        width: 300px;
        margin: 0 auto;
    }
 }
 @media (max-width:320px){
    .rectangle{
        margin: 0 auto;
        padding-bottom: 50px;
        width: 250px;
    }

    .square{
        width: 250px;
        margin: 0 auto;
    }
 }
 


 /* fourth blue card section  */

.box-img-main{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}
.fourth-blue{
     background-image: linear-gradient(to right, white , blue);
     border: transparent;
}
.fourth-white{
    color: white;
}
.box-img-one img{
    width: 195px;
}
.box-img-ninth img{
    width: 155px;
}
.box-img-six img{
    width: 185px;
}

@media (max-width:380px){
    .box-img-one img{
        width: 110px;
    }
    .box-img-five img{
        width: 110px;
    }
    .box-img-six img{
        width: 110px;
    }
    .box-img-ninth img{
        width: 110px;
    }
}

/* last card section  */

.Pta-approved{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.white{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pta-img{
    text-align: center;
}
.pta-img img{
    width: 70px;
}
.pta-img p{
    font-size: small;
}
.year-img{
    text-align: center;
}
.year-img img{
    width: 70px;
}
.year-img p{
    font-size: small;
}
.delivery-img{
    text-align: center;
}
.delivery-img img{
    width:60px;
}
.delivery-img p{
    font-size: small;
}
.free-img{
    text-align: center;
}
.free-img img{
    width: 78.2px;
}
.free-img p{
    font-size: small;
}

@media (max-width:510px){
    .pta-img{
        display: none;
    }
    .delivery-img{
        display: none;
    }
}

/* footer area started  */

.blue{
    background-color: blue;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.footer-1 img{
    padding-bottom: 30px;
}
.payment-img{
    width: 313px;
}
.play-store-img{
    width: 160px;
}
.footer-2 h4{
    padding-bottom: 30px;
    color: white;
}
.footer-3 h4{
    padding-bottom: 30px;
    color: white;
}

@media (max-width:1000px){
    .footer{
        display: block;
    }
    .footer-2{
        display: none;
    }
    .footer-3{
        margin-top: 10px;
    }
   
}

@media (max-width:380px){
    .payment-img{
        width: 240px;
    }
    .play-store-img{
        width: 130px;
    }
}

/* last footer area  */


.light-blue{
    background-color: rgb(3, 3, 216);
} 
.last-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
}
.visible{
    color: white;
}
.hidden{
    display: none;
}
@media (max-width:470px){
    .visible{
        display: none;
    }
    .hidden{
        display: block;
        color: #fff;
        font-size: 14px;
    }
}

.slider-under{
    width: 230px;
    padding: 10px;
}
.slider-under-2{
    background-color: white;
    color: black;
}
.slider-under-li{
    list-style: none;
}
.slider-under-3{
    background-color: white;
    color: black;
}

.background-img{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}