

.header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
    align-items: center;
    overflow-x: hidden; 
}

.part-1, .part-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    width: 450px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.logo {
    width: 150px;
}
.dono-btn{
    display: flex;
    gap: 10px;
    width: auto;
}
.button-1{
    border: none;
    background-color: #fff;
    border-radius: 10px;
    color: blue;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}

.button-2{
    border: none;
    background-color:transparent;
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
@media screen and (max-width:992px){
    .dono-btn {
        display: none;
    }
}
@media screen and (max-width:600px) {
    
    .search input {
        width: 200px;
    }

    .header {
        justify-content: space-between;
       
    }
    .logo {
       display: none;
    }
   
}


/* navbar ended  */

.imges{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

.image-1 img{
    width: 55px; 
    text-align: center;
    padding-top: 10px;
}
.image-1{
    text-align: center;
    padding: 8px 15px 14px 15px;
}
.image-1:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-2{
    text-align: center;
    padding: 14px 15px 14px 15px;

}
.image-2:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-2 img{
    text-align: center;
    width: 50px;
    padding-top: 10px;

}
.image-3{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-3:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-3 img{
    width: 60px;
}
.image-4{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-4:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-4 img{
    width: 60px;
}
.image-5{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-5:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-5 img{
    width: 60px;
}
.image-6{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-6:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-6 img{
    width: 60px;
}
.image-7{
    text-align: center;
    padding: 14px 15px 14px 15px;
}
.image-7:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-7 img{
    width: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-8{
    text-align: center;
    padding: 14px 5px 14px 5px;
}
.image-8:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 3px solid  blue;
}
.image-8 img{
    width: 60px;
}

@media (max-width:768px) {
    .image-1{
        display: none;
}
    .image-7{
        display: none;
}
}
@media (max-width:630px) {
    .image-2{
        display: none;
}
}
@media (max-width:450px) {
    .image-4{
        display: none;
}
}
@media (max-width:330px) {
    .image-5{
        display: none;
}
}


/* card-area  */

.cards{
    background-color: rgb(247, 247, 247);
}
.card-main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.card-1 p{
    font-weight: bold;
}

.card-2 p{
    color: blue;
}
.green{
    color: green;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    float: right;
}
.card-img{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
#card-border{
    border: transparent;
}

/* 2nd card area  */


.best-sell{
    text-align: center;
    margin-top: 40px;
}
.best-sell-1{
    text-align: center;
    font-size: 18px;
}
#ultra-smart{
    margin-left: 10px;
}

.sec-card-img-1{
    width: 150px;
    margin: 0 auto;
}
.middle-img-sec img{
    width: 1480px;
}

/* shop price by  */


.hasan-1{
    text-align: center;

}

.hasan-1 a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: yellow;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    color: #081B29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding: 10px 55px 10px 55px;
} 
.hasan-1 a:hover{
    color: white;
}

.hasan-1 a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: .5s;
}
.hasan-1 a:hover::before{
    width: 100%;
}

/* Shop by Brand */

.Shop-by-Brand{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.brand-img-1{
    text-align: center;
}
.brand-img-1 img{
    width: 80px;
    padding-bottom: 10px;
}

@media(max-width:980px){
    .Samsung{
        display: none;
    }
}
@media(max-width:870px){
    .Infinix{
        display: none;
    }
}
@media(max-width:775px){
    .Oppo{
        display: none;
    }
}
@media(max-width:680px){
    .Itel{
        display: none;
    }
}
@media(max-width:590px){
    .Apple{
        display: none;
    }
}
@media(max-width:480px){
    .Nokia{
        display: none;
    }
}
@media(max-width:380px){
    .Realme{
        display: none;
    }
}


.best-sell-2{
    text-align: center;
    font-size: 15px;
}

/* customer-review  */

.customer-review{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.customer-review img{
    width: 130px;
    border-radius: 5px;
    height: 90px;
}
@media (max-width:1080px) {
    .review-1{
        display: none;
    }
}
@media (max-width:877px) {
    .review-3{
        display: none;
    }
}
@media (max-width:777px) {
    .review-4{
        display: none;
    }
}
@media (max-width:669px) {
    .review-5{
        display: none;
    }
}
@media (max-width:568px) {
    .review-6{
        display: none;
    }
}
@media (max-width:485px) {
    .review-7{
        display: none;
    }
}
@media (max-width:389px) {
    .review-2{
       display: none;
    }
    
}

/* customer review comment icons card */
#icons-main{
    margin-top: 20px;
}
.icons{
    color: gainsboro;
    font-size: 15px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    padding: 10px;
}
.stars i{
    font-size: small;
   color: orange;
}
.name-of-viewers{
    font-size: 15px;
    color: rgb(56, 136, 215);
}
.date{
    font-size: 15px;
    color: grey;
}
.cus-rev-one{
    display: flex;
    gap: 10px;
}